@charset "UTF-8";
header {
  width: 100%;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2901960784);
  padding: 1rem;
  font-family: Archivo;
  font-weight: 400;
}
header button, header div {
  display: inline-block;
  vertical-align: middle;
}
header #navlist {
  display: none;
}

#header-button-container {
  position: absolute;
  right: 1rem;
}

#logo-container {
  width: 2rem;
  height: 2rem;
  background-color: white;
  box-shadow: 0px 14px 24px 0px rgba(139, 139, 139, 0.2509803922);
  text-align: center;
  margin-right: 0.3rem;
}
#logo-container img {
  vertical-align: middle;
}

footer {
  padding: 1rem;
  background-image: url("../../../img/footer/Rectángulo 2 1.png");
}
footer h4 {
  font-family: Old Standard TT !important;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin: 3rem 0;
}
footer .light-square {
  width: 2rem;
  height: 2rem;
  background-color: white;
  border: none;
  background-color: var(--gold-color);
  font-family: Archivo;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: white;
  border: none;
  width: 5rem;
  height: 5rem;
  text-align: center;
  padding: calc(2.5rem - 20px);
  display: inline-block;
}
footer .light-square h1 {
  font-family: Archivo;
  font-size: 40px;
  font-weight: 700;
  vertical-align: middle;
}
footer h3 {
  font-family: Archivo;
  font-weight: 400;
  display: inline-block;
  margin-left: 1.5rem;
  font-size: 24px;
}
footer p {
  font-family: Archivo;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #777777;
}

#footer-title {
  margin-bottom: 3rem;
}

#icon-container button {
  width: 2rem;
  height: 2rem;
  background-color: white;
  border: none;
  display: inline-block;
  padding: 0.25rem;
}
#icon-container button:hover {
  background-color: var(--gold-color);
}
#icon-container button img {
  width: 1.5rem;
}

#services-container .column {
  width: 47%;
  display: inline-block;
  vertical-align: top;
  top: 0;
}
#services-container .column p {
  line-height: 48px;
}

#contact-container div {
  display: inline-block;
  margin-bottom: 2rem;
}
#contact-container div h4 {
  margin: 0 !important;
}

#copyright-container {
  background-color: #F8F8F8;
  padding-top: 1rem;
}
#copyright-container p {
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.48px;
  color: black;
  margin-bottom: 1rem;
}

@media screen and (width >= 1000px) {
  footer {
    display: grid;
    grid-template-areas: ". title services contact ." "copyright copyright copyright copyright copyright";
    grid-template-columns: auto 300px 400px 250px auto;
    padding-top: 5rem;
    justify-content: center;
    bottom: 0;
  }
  footer > div {
    padding: 0 1rem;
  }
  #footer-title {
    grid-area: title;
    margin: 0;
  }
  #footer-title > p {
    text-wrap: "wrap";
  }
  #services-container {
    grid-area: services;
  }
  #contact-container {
    grid-area: contact;
  }
  #copyright-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    grid-area: copyright;
    padding: 2rem 0;
  }
  #copyright-container > p {
    margin: 0;
  }
}
#title-section {
  padding: 2rem 2rem 0 2rem;
  color: white;
}
#title-section h3 {
  font-family: Archivo;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 2.8px;
  margin-bottom: 1rem;
}
#title-section h1 {
  font-family: Old Standard TT;
  font-weight: 400;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: -1.2px;
  margin-bottom: 2rem;
}
#title-section div {
  background-color: white;
  padding: 1rem;
  width: fit-content;
  margin-left: auto;
  margin-right: 0;
}
#title-section p {
  font-family: Archivo;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.48px;
  color: black;
}
#title-section p span {
  color: var(--gold-color);
}

.swiper {
  width: 100%;
  height: 100%;
  overflow: hidden !important;
}

.swiper-container {
  width: 100%;
  position: relative;
}

.swiper-wrapper {
  height: calc(100% - 3rem) !important;
}

.swiper-slide {
  width: 20rem;
  height: 15rem;
}

.swiper-pagination {
  position: static !important;
  display: inline-block;
  width: fit-content !important;
}

.swiper-pagination .active {
  background-color: var(--gold-color);
}

.swiper-pagination:hover {
  cursor: pointer;
}

.swiper-pagination-bullet, .dots {
  --swiper-pagination-color: var(--gold-color);
  --swiper-pagination-left: auto;
  --swiper-pagination-right: 8px;
  --swiper-pagination-bottom: 8px;
  --swiper-pagination-top: auto;
  --swiper-pagination-fraction-color: inherit;
  --swiper-pagination-progressbar-bg-color: rgba(0, 0, 0, 0.25);
  --swiper-pagination-progressbar-size: 4px;
  --swiper-pagination-bullet-size: 2rem;
  --swiper-pagination-bullet-width: 2rem;
  --swiper-pagination-bullet-height: 2rem;
  --swiper-pagination-bullet-inactive-color: transparent;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
  --swiper-pagination-bullet-border-radius: none;
  padding: 0.3rem;
  font-family: Oswald;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: center;
}

.swiper-navigation {
  --swiper-navigation-size: 2rem;
  --swiper-navigation-sides-offset: 0;
  --swiper-navigation-color: black;
}

.dots {
  cursor: default;
  display: inline-block;
}

.hidden {
  display: none !important;
}

.swiper-pagination-bullet:hover {
  background-color: var(--grey-color);
}

#pagination-container {
  text-align: center;
  position: relative;
}
#pagination-container .swiper-button-prev, #pagination-container .swiper-button-next {
  position: absolute;
  display: inline-block !important;
  width: 2rem !important;
  height: 2rem !important;
  margin-top: 0 !important;
  top: 0;
  background-size: 0.5rem;
  background-repeat: no-repeat;
  background-position: center;
}
#pagination-container .swiper-button-prev {
  left: 2rem !important;
  background-image: url("../../../img/rooms/left-arrow.png");
}
#pagination-container .swiper-button-next {
  right: 2rem !important;
  background-image: url("../../../img/rooms/right-arrow.png");
}
#pagination-container .swiper-button-prev::after, #pagination-container .swiper-button-next::after {
  content: "" !important;
}

h1 {
  font-family: Old Standard TT;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1.44px;
}

input[type=text] {
  border: none;
  width: 100%;
  margin: 1rem 0;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: var(--dark-color);
  padding: 1rem;
}

.square-button {
  width: 2rem;
  height: 2rem;
  background-color: white;
  border: none;
}

.dark-span {
  font-weight: 700;
}

.dark-background {
  background-color: var(--dark-color);
}

.black-background {
  background-color: var(--black-color);
}

.yellow-price {
  font-family: Archivo;
  font-weight: 700;
  font-size: 23px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: right;
  color: var(--gold-color);
}

.pink-price {
  font-family: Archivo;
  font-weight: 700;
  font-size: 23px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: right;
  color: var(--pink-color);
}

.mini-title-h {
  font-family: Archivo;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: var(--grey-color);
}

.mini-title-dark {
  font-family: Archivo;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: var(--gold-color);
}

.light-rectangle-button {
  background-color: var(--gold-color);
  font-family: Archivo;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: white;
  border: none;
  width: 70%;
  padding: 1rem;
}

.dark-rectangle-button {
  background-color: var(--gold-color);
  font-family: Archivo;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: white;
  border: none;
  background-color: transparent;
  border: solid 1px var(--grey-color);
  color: var(--grey-color);
  width: 70%;
  padding: 1rem;
}

.room-container {
  margin-bottom: 2rem;
  background-color: white;
}
.room-container .room-image {
  width: 100%;
  height: auto;
}
.room-container .rooms__description {
  text-align: center;
  justify-content: center;
  position: relative;
  padding-top: 2rem;
}
.room-container .rooms__description .room__name {
  font-family: Old Standard TT;
}
.room-container .rooms__description p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: var(--grey-color);
  margin-bottom: 2rem;
}
.room-container .rooms__description .room-icons {
  background-color: white;
  position: absolute;
  top: -1rem;
  margin: 0 1rem;
}
.room-container .rooms__description .room-icons li {
  width: 2rem;
  padding: 0.5rem;
  display: inline-block;
}
.room-container .rooms__description .rectangle {
  position: absolute;
  background-color: white;
  height: 2rem;
  width: 14rem;
  top: -4rem;
}

:root {
  --gold-color: #BEAD8E;
  --pink-color: #DE5777;
  --light-grey-color: #C2C2C2;
  --grey-color: #777777;
  --dark-color: #333333;
  --black-color: #222222;
}

html, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

section {
  padding: 1rem;
}

.book {
  background-color: var(--black-color);
  padding-bottom: 3rem;
}
.book__label {
  color: white;
  font-family: Roboto;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
}
.book__input {
  border: none;
  width: 100%;
  margin: 1rem 0;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  padding: 1rem;
  background-color: var(--black-color);
  border: none;
  border-bottom: var(--gold-color) solid 1px;
  color: white;
}

.title {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.title__second-header, .title__header {
  color: white;
}
.title__second-header {
  margin-bottom: 2rem;
}
.title__header {
  margin-bottom: 2rem;
}
.title__button {
  margin-bottom: 1.5rem;
}

.about__discover {
  padding-top: 3rem;
}
.about__discover__second-header {
  margin-bottom: 2rem;
}
.about__discover__header {
  font-size: 48px;
  margin-bottom: 2rem;
}
.about__discover__paragraph {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: var(--grey-color);
  margin-bottom: 2rem;
}
.about__discover__button__anchor {
  color: white;
  text-decoration: none;
}
.about__team {
  padding: 2rem;
}
.about__team__image {
  width: 100%;
}
.about__team__strong, .about__team__luxury {
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 3rem 1rem;
  text-align: center;
}
.about__team__strong__header, .about__team__luxury__header {
  font-family: Old Standard TT;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.9px;
  margin-bottom: 1rem;
}
.about__team__luxury__header, .about__team__luxury__paragraph {
  color: white;
}

.rooms {
  padding: 1rem 0;
  text-align: center;
  margin-bottom: 2rem;
  background-color: white;
  margin-bottom: 0;
}
.rooms .room-image {
  width: 100%;
  height: auto;
}
.rooms .rooms__description {
  text-align: center;
  justify-content: center;
  position: relative;
  padding-top: 2rem;
}
.rooms .rooms__description .room__name {
  font-family: Old Standard TT;
}
.rooms .rooms__description p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: var(--grey-color);
  margin-bottom: 2rem;
}
.rooms .rooms__description .room-icons {
  background-color: white;
  position: absolute;
  top: -9rem;
  margin: 0 1rem;
}
.rooms .rooms__description .room-icons li {
  width: 2rem;
  padding: 0.5rem;
  display: inline-block;
}
.rooms .rooms__description .rectangle {
  position: absolute;
  background-color: white;
  height: 2rem;
  width: 14rem;
  top: -4rem;
}
.rooms__title {
  background-color: #F8F8F8;
  top: -1rem;
}
.rooms__description {
  position: absolute;
  top: -3rem;
  background-color: #FFF;
  left: 5%;
  width: 90%;
  justify-content: center;
  padding-top: 1rem !important;
}
.rooms .room-icons {
  width: 100%;
  margin: 0 !important;
}
.rooms .swiper-button {
  position: absolute;
  top: 35%;
}
.rooms .swiper-button-prev {
  left: 0 !important;
  background-image: url("../../../img/rooms/chevron-back-outline.svg");
  background-size: 1rem;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F8F8F8;
  width: 2rem;
  height: 2rem;
}
.rooms .swiper-button-next {
  right: 0 !important;
  background-image: url("../../../img/rooms/chevron-forward-outline.svg");
  background-size: 1rem;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F8F8F8;
  width: 2rem;
  height: 2rem;
}
.rooms .swiper-button-prev::after, .rooms .swiper-button-next::after {
  content: "" !important;
}

.intro {
  padding-top: 3rem;
}
.intro__title {
  margin-bottom: 2rem;
}
.intro__header {
  color: white;
  font-size: 56px;
  margin-bottom: 2rem;
}
.intro__paragraph {
  color: var(--light-grey-color);
  font-family: Archivo;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0px;
  margin-bottom: 2rem;
}
.intro__button {
  margin-top: 2rem;
}

.facilities {
  text-align: center;
}
.facilities > div {
  width: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}
.facilities > div > ul {
  display: flex;
  flex-direction: row;
  width: calc(3rem + 600%);
  gap: 1rem;
}
.facilities > div > ul > li {
  display: block;
  scroll-snap-align: center;
  width: 100%;
}
.facilities__section-title {
  margin-bottom: 2rem;
}
.facilities__header {
  font-size: 56px;
}
.facilities__number {
  font-family: Archivo;
  font-weight: 700;
  font-size: 120px;
  line-height: 130px;
  letter-spacing: 0px;
  display: inline-block;
  margin-left: 20%;
}
.facilities__title {
  font-family: Old Standard TT;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.9px;
  display: inline-block;
  margin-right: auto;
  margin-bottom: 2rem;
}
.facilities__paragraph {
  font-family: Archivo;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0px;
  color: var(--grey-color);
}

.menu {
  padding-top: 7rem;
  position: relative;
}
.menu__donut {
  position: absolute;
  top: 0;
  right: 0;
}
.menu__dishes {
  margin-top: 3rem;
}
.menu__dishes > ul {
  display: flex;
  width: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  flex-direction: row;
  gap: 1rem;
  anchor-name: --my-carousel;
}
.menu__dishes > ul > li {
  display: block;
  scroll-snap-align: center;
  flex: 0 0 100%;
}
.menu__dishes ul::scroll-button(*) {
  border: 0;
  font-size: 2rem;
  background: none;
  color: black;
  opacity: 0.7;
  cursor: pointer;
  position: absolute;
  position-anchor: --my-carousel;
}
.menu__dishes ul::scroll-button(*):hover,
.menu__dishes ul::scroll-button(*):focus {
  opacity: 1;
}
.menu__dishes ul::scroll-button(*):active {
  translate: 1px 1px;
}
.menu__dishes ul::scroll-button(*):disabled {
  opacity: 0.5;
  cursor: unset;
}
.menu__dishes ul::scroll-button(left) {
  content: "◄";
  left: calc(anchor(right) - 80px);
  bottom: calc(anchor(bottom));
}
.menu__dishes ul::scroll-button(right) {
  content: "►";
  right: calc(anchor(right));
  bottom: calc(anchor(bottom));
}
.menu__dish {
  margin-bottom: 2rem;
}
.menu__dish__img {
  display: inline-block;
  vertical-align: middle;
}
.menu__dish__container {
  vertical-align: middle;
  display: inline-block;
  max-width: 50%;
}
.menu__dish__title {
  font-family: Old Standard TT;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -0.72px;
}
.menu__dish__desc {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0px;
}
.menu__buttons {
  position: relative;
  text-align: end;
}
.menu__buttons__left {
  background-color: #F8F8F8;
}
.menu__buttons__right {
  background-color: var(--gold-color);
  color: white;
}

.data {
  text-align: center;
  padding-top: 3rem;
}
.data__container {
  margin-bottom: 5rem;
}
.data__title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 60px;
  line-height: 136%;
  letter-spacing: 0px;
  text-align: center;
}
.data__plus, .data__title {
  color: white;
}
.data__plus, .data__desc {
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 136%;
  letter-spacing: 0px;
  text-align: center;
}
.data__plus {
  display: inline-block;
}
.data__desc {
  color: var(--grey-color);
}

/*# sourceMappingURL=home.css.map */
