@charset "UTF-8";
header {
  width: 100%;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2901960784);
  padding: 1rem;
  font-family: Archivo;
  font-weight: 400;
}
header button, header div {
  display: inline-block;
  vertical-align: middle;
}

#header-button-container {
  position: absolute;
  right: 1rem;
}

#title-logo-container {
  width: 60%;
}

#logo-container {
  width: 2rem;
  height: 2rem;
  background-color: white;
  box-shadow: 0px 14px 24px 0px rgba(139, 139, 139, 0.2509803922);
  text-align: center;
  margin-right: 0.3rem;
}
#logo-container img {
  vertical-align: middle;
}

footer {
  padding: 1rem;
  background-image: url("../../../img/footer/Rectángulo 2 1.png");
}
footer h4 {
  font-family: Old Standard TT !important;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin: 3rem 0;
}
footer .light-square {
  width: 2rem;
  height: 2rem;
  background-color: white;
  border: none;
  background-color: var(--gold-color);
  font-family: Archivo;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: white;
  border: none;
  width: 5rem;
  height: 5rem;
  text-align: center;
  padding: calc(2.5rem - 20px);
  display: inline-block;
}
footer .light-square h1 {
  font-family: Archivo;
  font-size: 40px;
  font-weight: 700;
  vertical-align: middle;
}
footer h3 {
  font-family: Archivo;
  font-weight: 400;
  display: inline-block;
  margin-left: 1.5rem;
  font-size: 24px;
}
footer p {
  font-family: Archivo;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #777777;
}

#footer-title {
  margin-bottom: 3rem;
}

#footer-container button {
  width: 2rem;
  height: 2rem;
  background-color: white;
  border: none;
  display: inline-block;
  padding: 0.25rem;
}
#footer-container button:hover {
  background-color: var(--gold-color);
}
#footer-container button img {
  width: 1.5rem;
}

#services-container .column {
  height: 100%;
  width: 47%;
  display: inline-block;
  vertical-align: top;
  top: 0;
}
#services-container .column p {
  line-height: 48px;
}

#contact-container div {
  display: inline-block;
  margin-bottom: 2rem;
}
#contact-container div h4 {
  margin: 0 !important;
}

#copyright-container {
  background-color: #F8F8F8;
  padding-top: 1rem;
}
#copyright-container p {
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.48px;
  color: black;
  margin-bottom: 1rem;
}

#title-section {
  padding: 2rem 2rem 0 2rem;
  color: white;
}
#title-section h3 {
  font-family: Archivo;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 2.8px;
  margin-bottom: 1rem;
}
#title-section h1 {
  font-family: Old Standard TT;
  font-weight: 400;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: -1.2px;
  margin-bottom: 2rem;
}
#title-section div {
  background-color: white;
  padding: 1rem;
  width: fit-content;
  margin-left: auto;
  margin-right: 0;
}
#title-section p {
  font-family: Archivo;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.48px;
  color: black;
}
#title-section p span {
  color: var(--gold-color);
}

.swiper-slide {
  width: 10rem;
  height: 6rem;
  background-color: var(--gold-color);
}

:root {
  --gold-color: #BEAD8E;
  --pink-color: #DE5777;
  --grey-color: #777777;
  --dark-color: #333333;
}

html, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

h1 {
  font-family: Old Standard TT;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1.44px;
}

input[type=text] {
  border: none;
  width: 100%;
  margin: 1rem 0;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: var(--dark-color);
  padding: 1rem;
}

.square-button {
  width: 2rem;
  height: 2rem;
  background-color: white;
  border: none;
}

.dark-span {
  font-weight: 700;
}

.dark-background {
  background-color: var(--dark-color);
}

.yellow-price {
  font-family: Archivo;
  font-weight: 700;
  font-size: 23px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: right;
  color: var(--gold-color);
}

.pink-price {
  font-family: Archivo;
  font-weight: 700;
  font-size: 23px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: right;
  color: var(--pink-color);
}

.mini-title-h {
  font-family: Archivo;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: var(--grey-color);
}

.light-rectangle-button {
  background-color: var(--gold-color);
  font-family: Archivo;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: white;
  border: none;
  width: 70%;
  padding: 1rem;
}

/*# sourceMappingURL=home.css.map */
