@charset "UTF-8";
header {
  width: 100%;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2901960784);
  padding: 1rem;
  font-family: Archivo;
  font-weight: 400;
}
header button, header div {
  display: inline-block;
  vertical-align: middle;
}
header #navlist {
  display: none;
}

#header-button-container {
  position: absolute;
  right: 1rem;
}

#logo-container {
  width: 2rem;
  height: 2rem;
  background-color: white;
  box-shadow: 0px 14px 24px 0px rgba(139, 139, 139, 0.2509803922);
  text-align: center;
  margin-right: 0.3rem;
}
#logo-container img {
  vertical-align: middle;
}

footer {
  padding: 1rem;
  background-image: url("../../../img/footer/Rectángulo 2 1.png");
}
footer h4 {
  font-family: Old Standard TT !important;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin: 3rem 0;
}
footer .light-square {
  width: 2rem;
  height: 2rem;
  background-color: white;
  border: none;
  background-color: var(--gold-color);
  font-family: Archivo;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: white;
  border: none;
  width: 5rem;
  height: 5rem;
  text-align: center;
  padding: calc(2.5rem - 20px);
  display: inline-block;
}
footer .light-square h1 {
  font-family: Archivo;
  font-size: 40px;
  font-weight: 700;
  vertical-align: middle;
}
footer h3 {
  font-family: Archivo;
  font-weight: 400;
  display: inline-block;
  margin-left: 1.5rem;
  font-size: 24px;
}
footer p {
  font-family: Archivo;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #777777;
}

#footer-title {
  margin-bottom: 3rem;
}

#icon-container button {
  width: 2rem;
  height: 2rem;
  background-color: white;
  border: none;
  display: inline-block;
  padding: 0.25rem;
}
#icon-container button:hover {
  background-color: var(--gold-color);
}
#icon-container button img {
  width: 1.5rem;
}

#services-container .column {
  width: 47%;
  display: inline-block;
  vertical-align: top;
  top: 0;
}
#services-container .column p {
  line-height: 48px;
}

#contact-container div {
  display: inline-block;
  margin-bottom: 2rem;
}
#contact-container div h4 {
  margin: 0 !important;
}

#copyright-container {
  background-color: #F8F8F8;
  padding-top: 1rem;
}
#copyright-container p {
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.48px;
  color: black;
  margin-bottom: 1rem;
}

@media screen and (width >= 1000px) {
  footer {
    display: grid;
    grid-template-areas: ". title services contact ." "copyright copyright copyright copyright copyright";
    grid-template-columns: auto 300px 400px 250px auto;
    padding-top: 5rem;
    justify-content: center;
    bottom: 0;
  }
  footer > div {
    padding: 0 1rem;
  }
  #footer-title {
    grid-area: title;
    margin: 0;
  }
  #footer-title > p {
    text-wrap: "wrap";
  }
  #services-container {
    grid-area: services;
  }
  #contact-container {
    grid-area: contact;
  }
  #copyright-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    grid-area: copyright;
    padding: 2rem 0;
  }
  #copyright-container > p {
    margin: 0;
  }
}
#title-section {
  padding: 2rem 2rem 0 2rem;
  color: white;
}
#title-section h3 {
  font-family: Archivo;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 2.8px;
  margin-bottom: 1rem;
}
#title-section h1 {
  font-family: Old Standard TT;
  font-weight: 400;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: -1.2px;
  margin-bottom: 2rem;
}
#title-section div {
  background-color: white;
  padding: 1rem;
  width: fit-content;
  margin-left: auto;
  margin-right: 0;
}
#title-section p {
  font-family: Archivo;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.48px;
  color: black;
}
#title-section p span {
  color: var(--gold-color);
}

.swiper {
  width: 100%;
  height: 100%;
  overflow: hidden !important;
}

.swiper-container {
  width: 100%;
  position: relative;
}

.swiper-wrapper {
  height: calc(100% - 3rem) !important;
}

.swiper-slide {
  width: 20rem;
  height: 15rem;
}

.swiper-pagination {
  position: static !important;
  display: inline-block;
  width: fit-content !important;
}

.swiper-pagination .active {
  background-color: var(--gold-color);
}

.swiper-pagination:hover {
  cursor: pointer;
}

.swiper-pagination-bullet, .dots {
  --swiper-pagination-color: var(--gold-color);
  --swiper-pagination-left: auto;
  --swiper-pagination-right: 8px;
  --swiper-pagination-bottom: 8px;
  --swiper-pagination-top: auto;
  --swiper-pagination-fraction-color: inherit;
  --swiper-pagination-progressbar-bg-color: rgba(0, 0, 0, 0.25);
  --swiper-pagination-progressbar-size: 4px;
  --swiper-pagination-bullet-size: 2rem;
  --swiper-pagination-bullet-width: 2rem;
  --swiper-pagination-bullet-height: 2rem;
  --swiper-pagination-bullet-inactive-color: transparent;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
  --swiper-pagination-bullet-border-radius: none;
  padding: 0.3rem;
  font-family: Oswald;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: center;
}

.swiper-navigation {
  --swiper-navigation-size: 2rem;
  --swiper-navigation-sides-offset: 0;
  --swiper-navigation-color: black;
}

.dots {
  cursor: default;
  display: inline-block;
}

.hidden {
  display: none !important;
}

.swiper-pagination-bullet:hover {
  background-color: var(--grey-color);
}

#pagination-container {
  text-align: center;
  position: relative;
}
#pagination-container .swiper-button-prev, #pagination-container .swiper-button-next {
  position: absolute;
  display: inline-block !important;
  width: 2rem !important;
  height: 2rem !important;
  margin-top: 0 !important;
  top: 0;
  background-size: 0.5rem;
  background-repeat: no-repeat;
  background-position: center;
}
#pagination-container .swiper-button-prev {
  left: 2rem !important;
  background-image: url("../../../img/rooms/left-arrow.png");
}
#pagination-container .swiper-button-next {
  right: 2rem !important;
  background-image: url("../../../img/rooms/right-arrow.png");
}
#pagination-container .swiper-button-prev::after, #pagination-container .swiper-button-next::after {
  content: "" !important;
}

h1 {
  font-family: Old Standard TT;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1.44px;
}

input[type=text] {
  border: none;
  width: 100%;
  margin: 1rem 0;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: var(--dark-color);
  padding: 1rem;
}

.square-button {
  width: 2rem;
  height: 2rem;
  background-color: white;
  border: none;
}

.dark-span {
  font-weight: 700;
}

.dark-background {
  background-color: var(--dark-color);
}

.black-background {
  background-color: var(--black-color);
}

.yellow-price {
  font-family: Archivo;
  font-weight: 700;
  font-size: 23px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: right;
  color: var(--gold-color);
}

.pink-price {
  font-family: Archivo;
  font-weight: 700;
  font-size: 23px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: right;
  color: var(--pink-color);
}

.mini-title-h {
  font-family: Archivo;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: var(--grey-color);
}

.mini-title-dark {
  font-family: Archivo;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: var(--gold-color);
}

.light-rectangle-button {
  background-color: var(--gold-color);
  font-family: Archivo;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: white;
  border: none;
  width: 70%;
  padding: 1rem;
}

.dark-rectangle-button {
  background-color: var(--gold-color);
  font-family: Archivo;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: white;
  border: none;
  background-color: transparent;
  border: solid 1px var(--grey-color);
  color: var(--grey-color);
  width: 70%;
  padding: 1rem;
}

.room-container {
  margin-bottom: 2rem;
  background-color: white;
}
.room-container .room-image {
  width: 100%;
  height: auto;
}
.room-container .rooms__description {
  text-align: center;
  justify-content: center;
  position: relative;
  padding-top: 2rem;
}
.room-container .rooms__description .room__name {
  font-family: Old Standard TT;
}
.room-container .rooms__description p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: var(--grey-color);
  margin-bottom: 2rem;
}
.room-container .rooms__description .room-icons {
  background-color: white;
  position: absolute;
  top: -1rem;
  margin: 0 1rem;
}
.room-container .rooms__description .room-icons li {
  width: 2rem;
  padding: 0.5rem;
  display: inline-block;
}
.room-container .rooms__description .rectangle {
  position: absolute;
  background-color: white;
  height: 2rem;
  width: 14rem;
  top: -4rem;
}

:root {
  --gold-color: #BEAD8E;
  --pink-color: #DE5777;
  --light-grey-color: #C2C2C2;
  --grey-color: #777777;
  --dark-color: #333333;
  --black-color: #222222;
}

html, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

#offer-rooms-section {
  padding: 1.5rem;
}
#offer-rooms-section .room-container {
  margin-bottom: 4rem;
  width: 100%;
}
#offer-rooms-section .room-container img {
  width: 100%;
}
#offer-rooms-section .room-price-container {
  width: 100%;
  position: relative;
}
#offer-rooms-section .room-price-container img {
  width: 100%;
}
#offer-rooms-section .room-price-container p {
  position: absolute;
  bottom: 0;
  right: 0;
}
#offer-rooms-section .room-price-container .yellow-price {
  bottom: 2.5rem;
  text-decoration: line-through;
}
#offer-rooms-section .room-price-container .yellow-price span {
  font-size: 12px;
  text-decoration: none;
}
#offer-rooms-section .room-price-container .pink-price {
  bottom: 0.5rem;
  font-size: 30px;
}
#offer-rooms-section .room-price-container .pink-price span {
  display: inline-block;
  font-size: 12px;
}
#offer-rooms-section h1 {
  color: black;
  margin-bottom: 1rem;
}
#offer-rooms-section .mini-title-h {
  margin: 1rem 0;
}
#offer-rooms-section .room-details {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0px;
  color: var(--grey-color);
}
#offer-rooms-section .column {
  width: 47%;
  display: inline-block;
  vertical-align: top;
  top: 0;
  margin: 1rem 0;
}
#offer-rooms-section .column p {
  line-height: 1rem;
}

.popular-rooms {
  padding: 2rem;
}
.popular-rooms .mini-title-h {
  text-align: center;
  color: var(--gold-color);
}
.popular-rooms h1 {
  text-align: center;
  color: white;
  margin-bottom: 2.5rem;
}
.popular-rooms .offer-rooms-container {
  margin-bottom: 2rem;
  background-color: white;
  position: relative;
}
.popular-rooms .offer-rooms-container .room-image {
  width: 100%;
  height: auto;
}
.popular-rooms .offer-rooms-container .rooms__description {
  text-align: center;
  justify-content: center;
  position: relative;
  padding-top: 2rem;
}
.popular-rooms .offer-rooms-container .rooms__description .room__name {
  font-family: Old Standard TT;
}
.popular-rooms .offer-rooms-container .rooms__description p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: var(--grey-color);
  margin-bottom: 2rem;
}
.popular-rooms .offer-rooms-container .rooms__description .room-icons {
  background-color: white;
  position: absolute;
  top: 11rem;
  margin: 0 1rem;
}
.popular-rooms .offer-rooms-container .rooms__description .room-icons li {
  width: 2rem;
  padding: 0.5rem;
  display: inline-block;
}
.popular-rooms .offer-rooms-container .rooms__description .rectangle {
  position: absolute;
  background-color: white;
  height: 2rem;
  width: 14rem;
  top: -4rem;
}
.popular-rooms .room__iconlist__item {
  display: inline-block;
}
.popular-rooms .room__iconlist__img {
  width: 1fr;
}
.popular-rooms .rooms__description {
  left: 0;
}
.popular-rooms .room-icons {
  margin: 0 0.5rem !important;
  left: calc(50% - 7.5rem) !important;
}
.popular-rooms .room-icons li {
  padding: 0 !important;
  width: 1.8rem !important;
}
.popular-rooms .room-container {
  padding-bottom: 2rem;
}

/*# sourceMappingURL=offers.css.map */
