@mixin square{
    width: 2rem;
    height: 2rem;
    background-color: white;
    border: none;
}

@mixin light-square{
    @include square;
    background-color: var(--gold-color);
    color: white;
}