
@use 'buttons' as buttons;

footer{
    padding: 1rem;
    background-image: url("../../../img/footer/Rectángulo\ 2\ 1.png");

    h4{
        font-family: Old Standard TT !important;
        font-weight: 400;
        font-size: 24px;
        line-height: 24px;
        margin: 3rem 0;
    }

    .light-square{
        @include buttons.light-square;
        width: 5rem;
        height: 5rem;
        text-align: center;
        padding: calc(5rem / 2 - 20px);
        display: inline-block;
    
        h1{
            font-family: Archivo;
            font-size: 40px;
            font-weight: 700;
            vertical-align: middle;
        }
    }

    h3{
        font-family: Archivo;
        font-weight: 400;
        display: inline-block;
        margin-left: 1.5rem;
        font-size: 24px;
    }

    p{
        font-family: Archivo;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color:#777777;

    }

    

    
}

#footer-title{
    margin-bottom: 3rem;
}

#footer-container{
    button{
        @include buttons.square;
        display:inline-block;
        padding: 0.25rem;


        &:hover{
            background-color: var(--gold-color);
        }

        img{
            width: 1.5rem;
        }

    }

    
}

#services-container{
    
    .column{
        height: 100%;
        width: 47%;
        display: inline-block;
        vertical-align: top;
        top: 0;
        p{
            line-height: 48px;
        }
    }
}

#contact-container{

    div{
        display: inline-block;
        margin-bottom: 2rem;

        h4{
            margin: 0 !important;
        }
    }
}

#copyright-container{
    background-color: #F8F8F8;
    padding-top: 1rem;
    

    p{
        font-family: Roboto;
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: -0.48px;
        color: black;
        margin-bottom: 1rem;
    }
    
}



