@use 'buttons' as buttons;

header{

    width: 100%;
    box-shadow: 0px 3px 6px 0px #0000004A;
    padding: 1rem;
    font-family: Archivo;
    font-weight: 400;


    button,div{
        display:inline-block;
        vertical-align: middle;
    }

}

#header-button-container{
    position:absolute;
    right: 1rem;
}

#title-logo-container{
    width: 60%;

}

#logo-container{
    width: 2rem;
    height: 2rem;
    background-color: white;
    box-shadow: 0px 14px 24px 0px #8B8B8B40;
    text-align: center;
    margin-right: 0.3rem;

    img{
        vertical-align: middle;
    }
}


