@use '../components/text' as text;


@mixin room($icon-height){
    
    margin-bottom: 2rem;

    background-color: white;

    .room-image{
        width: 100%;
        height: auto;
    }
    
    .rooms__description{
        text-align: center;
        justify-content: center;
        position: relative;
        left: 2rem;
        padding-top: 2rem;

        .room__name{
            font-family: Old Standard TT;
        }
        p{
            @include text.lorem;
            margin-bottom: 2rem;
        }

        .room-icons{
            background-color: white;
            position:absolute;
            top: $icon-height;
            left: calc(50% - 9rem);
            height: 2rem;
            margin: 0 1rem;
            li{
                
                width: 2rem;
                padding: 0.5rem;
                display: inline-block;
            }
        }

    
        .rectangle{
            position: absolute;
            background-color: white;
            height: 2rem;
            width: 14rem;
            top: -4rem;
        }
    }
    

}