

$pagination-height: 3rem;

.swiper{
    width: 100%;
    height: 100%;
    overflow: hidden !important;
}
.swiper-container{
    width: 100%;
    position: relative;
}



.swiper-wrapper{
    height: calc(100% - $pagination-height) !important;
    // overflow: hidden;
}

.swiper-slide{
    width: 20rem;
    height: 15rem;
}

.swiper-pagination{
    position: static !important;
    display: inline-block;
    width: fit-content !important;
    
}

.swiper-pagination .active{
    background-color: var(--gold-color);
}

.swiper-pagination:hover{
    cursor:pointer;
}

.swiper-pagination-bullet, .dots{
    --swiper-pagination-color: var(--gold-color);
  --swiper-pagination-left: auto;
  --swiper-pagination-right: 8px;
  --swiper-pagination-bottom: 8px;
  --swiper-pagination-top: auto;
  --swiper-pagination-fraction-color: inherit;
  --swiper-pagination-progressbar-bg-color: rgba(0, 0, 0, 0.25);
  --swiper-pagination-progressbar-size: 4px;
  --swiper-pagination-bullet-size: 2rem;
  --swiper-pagination-bullet-width: 2rem;
  --swiper-pagination-bullet-height: 2rem;
  --swiper-pagination-bullet-inactive-color: transparent;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
  --swiper-pagination-bullet-border-radius: none;
  padding: 0.3rem;
    font-family: Oswald;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: center;

}

.swiper-navigation{
    --swiper-navigation-size: 2rem;
  --swiper-navigation-sides-offset: 0;
  --swiper-navigation-color: black;
}



.dots{
    cursor:default;
    display: inline-block;
}

.hidden{
    display:none !important;
}

.swiper-pagination-bullet:hover{
    background-color: var(--grey-color);

}

#pagination-container{
    text-align: center;
    position: relative;

    .swiper-button-prev,.swiper-button-next{
        position: absolute;
        display: inline-block !important;
        width: 2rem !important;
        height: 2rem !important;
        margin-top: 0 !important;
        top: 0;
        background-size: 0.5rem;
        background-repeat: no-repeat;
        background-position: center;
    }

    .swiper-button-prev{
        // left: calc(auto - 2rem) !important;
        left: 2rem !important;
        background-image: url("../../../img/rooms/left-arrow.png");
        

    }
    .swiper-button-next{
        // right: auto!important;
        right: 2rem !important;
        background-image: url("../../../img/rooms/right-arrow.png");
    }
    
    .swiper-button-prev::after, .swiper-button-next::after{
        content: "" !important;
        
    }
}


