@use '../styles.scss';
@use '../components/buttons' as button;
@use '../components/text' as text;

h2{
    font-family: Old Standard TT;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -1.16px;
    text-align: center;

}

section{
    padding: 1rem;

     & > h4,h1{
        margin: 1rem 0;
    }
}

#services-section{

    .service-container{
        width: 49%;
        height: 7rem;
        display: inline-block;
        color: black;
        text-align: center;

        h4{
            font-family: Archivo;
            font-weight: 700;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 2.4px;
            text-align: center;
            text-transform: uppercase;

        }
    }   
}

#restaurant-section{
    padding: 2rem;

    img{
        width: 100%;
    }


    p{
        @include text.lorem;
    }
}

.facilities{
    text-align: center;

    & > div {
        width: 100%;
        overflow-x: auto;
        scroll-snap-type: x mandatory;

        & > ul {
            display: flex;
            flex-direction: row;
            width: calc(3rem + 600%);
            gap: 1rem;
            & > li {
                display: block;
                scroll-snap-align: center;
                width: 100%;
            }
        }
    }

    &__section-title{
        margin-bottom: 2rem;
    }

    &__header{
        font-size: 48px;
    }

    &__number{
        font-family: Archivo;
        font-weight: 700;
        font-size: 120px;
        line-height: 130px;
        letter-spacing: 0px;
        display:inline-block;
        margin-left: 20%;
    }

    &__title{
        font-family: Old Standard TT;
        font-weight: 400;
        font-size: 30px;
        line-height: 30px;
        letter-spacing: -0.9px;

        display:inline-block;
        margin-right: auto;
        margin-bottom: 2rem;
    }

    &__paragraph{
        font-family: Archivo;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0px;
        color: var(--grey-color)

    }
}

#counter-section{
    .fun-fact-container{

        position: relative;
        margin: 2rem 0 ;

        & > img,div{
            display: inline-block;
            margin: 0 0.5rem;

            p{
                font-family: Roboto;
                font-weight: 400;
                font-size: 16px;
                line-height: 16px;
                letter-spacing: 0px;
                color: var(--grey-color);

            }
        }

        .arrow{
            position: absolute;
            right: 0;
            top: 50%;
        }
    }
}