@use '../styles';
@use '../components/text' as text;


section{
    padding: 1rem;
}

.title{
    padding-top: 4rem;
    padding-bottom: 4rem;

    &__second-header , &__header{
        color: white;
    }

    &__second-header{
        
        margin-bottom: 2rem;
    }

    &__header{
        margin-bottom: 2rem;
    }

    &__button{
        margin-bottom: 1.5rem;
    }
}

.about{
    &__discover{

        padding-top: 5rem;

        &__second-header{
            margin-bottom: 2rem;
        }


        &__header{
            font-size: 56px;
            margin-bottom: 2rem;
        }

        &__paragraph{
            @include text.lorem;
        }

        &__button{
            &__anchor{
                color: white;
                text-decoration: none;
            }
        }

    }
    &__team{
        padding: 2rem;

        &__image{
            width: 100%;
        }

        &__strong , &__luxury{
            margin-top: 0;
            margin-bottom: 1rem;
            padding: 3rem 1rem;
            text-align: center;
            &__header{
                font-family: Old Standard TT;
                font-weight: 400;
                font-size: 30px;
                line-height: 30px;
                letter-spacing: -0.9px;
                margin-bottom: 1rem;
            } 
        }
        

        &__luxury{
            &__header , &__paragraph{
                color: white;
            }
        }


    }
}

.rooms{
    text-align: center;
}
.intro{
    padding-top: 3rem;

    &__header{
        color: white;
    }
    &__paragraph{
        color: var(--grey-color);
    }
}

.facilities{
    &__number{
        font-family: Archivo;
        font-weight: 700;
        font-size: 120px;
        line-height: 130px;
        letter-spacing: 0px;
        display:inline-block;
        margin-left: 20%;
    }

    &_title{
        font-family: Old Standard TT;
        font-weight: 400;
        font-size: 30px;
        line-height: 30px;
        letter-spacing: -0.9px;

        display:inline-block;
        margin-right: auto;
    }

    &__paragraph{
        font-family: Archivo;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0px;
        color: var(--grey-color)

    }
}

.menu{

    padding-top: 7rem;
    position:relative;

    &__donut{
        position: absolute;
        top: 0;
        right: 0;
    }

    &__dishes{
        margin-top: 3rem;
    }

    &__dish{

        margin-bottom: 2rem;

        &__img{
            display:inline-block;
            vertical-align: middle;

        }
        &__container{
            vertical-align: middle;
            display:inline-block;
            max-width: 50%;
        }
        &__title{
            font-family: Old Standard TT;
            font-weight: 400;
            font-size: 24px;
            line-height: 24px;
            letter-spacing: -0.72px;

        }
        &__desc{
            font-family: Roboto;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0px;

        }

    }

    &__buttons{

        position: relative;
        text-align: end;

        &__left{
            background-color: #F8F8F8;
        }
        &__right{
            background-color: var(--gold-color);
            color:white;
        }
    }
}

.data{

    text-align: center;
    padding-top: 3rem;

    &__title{
        font-family: Roboto;
        font-weight: 700;
        font-size: 60px;
        line-height: 136%;
        letter-spacing: 0px;
        text-align: center;

    }

    &__plus , &__title{
        color: white;
    }

    &__plus , &__desc{
        font-family: Roboto;
        font-weight: 700;
        font-size: 16px;
        line-height: 136%;
        letter-spacing: 0px;
        text-align: center;

    }

    &__plus{
        display: inline-block;
    }

    &__desc{
        color: var(--grey-color)
    }
}