
@use './components/buttons' as b;
@use './components/header';
@use './components/footer';
@use './components/titlesection';

:root{
    --gold-color: #BEAD8E;
}

html, * { 
    box-sizing: border-box;
    margin: 0;
    padding: 0
}
body {
    min-width: 320px;

}

.square-button{
    @include b.square;
}

.dark-span{
    font-weight: 700;
}

.dark-background{
    background-color: #333333;
}