
@use './components/header';
@use './components/footer';
@use './components/titlesection';
@use './components/swiper';
@use './components/common';

:root{
    --gold-color: #BEAD8E;
    --pink-color: #DE5777;
    --grey-color: #777777;
    --dark-color: #333333;
}


html, * { 
    box-sizing: border-box;
    margin: 0;
    padding: 0
}
body {
    min-width: 320px;

}


